@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<partial name="Sidebar" />
<div class="rook3">
    <h3>Cash Flow </h3>
    <p>Enter detailed information regarding incomes and expenses in the fields below.</p>
    <hr/>
    <div class="wrapped">
        <div class="block midme light-border-shadow auto-height">
            <div class="far-apart">
                <label>Incomes</label>
                <button class="btn-check btn">Add Income</button>
            </div>

            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Member</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Salary</td>
                        <td>Lauren</td>
                        <td>R 35 000.00</td>
                        <td>
                            <button class="btn-light btn">edit</button>
                            <button class="btn-light btn">delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Salary</td>
                        <td>Lauren</td>
                        <td>R 35 000.00</td>
                        <td>
                            <button class="btn-light btn">edit</button>
                            <button class="btn-light btn">delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Salary</td>
                        <td>Lauren</td>
                        <td>R 35 000.00</td>
                        <td>
                            <button class="btn-light btn">edit</button>
                            <button class="btn-light btn">delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="block midme light-border-shadow">
            <div class="far-apart">
                <label>Expenses</label>
                <button class="btn-close-white">Add Expenses</button>
            </div>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Housing </td>
                        <td>R 3000.00</td>
                        <td>
                            <button class="btn-light btn">edit</button>
                            <button class="btn-light btn">delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Food </td>
                        <td>R 1000.00</td>
                        <td>
                            <button class="btn-light btn">edit</button>
                            <button class="btn-light btn">delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Family </td>
                        <td>R 1500.00</td>
                        <td>
                            <button class="btn-light btn">edit</button>
                            <button class="btn-light btn">delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Transportaion </td>
                        <td>R 1200.00</td>
                        <td>
                            <button class="btn-light btn">edit</button>
                            <button class="btn-light btn">delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Health </td>
                        <td>R 800.00</td>
                        <td>
                            <button class="btn-light btn">edit</button>
                            <button class="btn-light btn">delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Insurance </td>
                        <td>R 3000.00</td>
                        <td>
                            <button class="btn-light btn">edit</button>
                            <button class="btn-light btn">delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="block border-white flexed-center midme">
            <img src="~/images/finplanimage.png" class="article-image card-img" />
        </div>
        <div class="block midme light-border-shadow">
            <div class="far-apart">
                <label>Benefits</label>
                <label>TAX/CRS</label>
            </div>
            <hr />
            <div>
                <ul>
                    <li class="far-apart">
                        <h6>Medical Aid</h6>
                        <u>CRS Tax: <strong>20%</strong></u>
                    </li>
                    <li class="far-apart">
                        <h6>Petrol Reembursment</h6>
                        <u>CRS Tax: <strong>07%</strong></u>
                    </li>
                    <li class="far-apart">
                        <h6>Pension Fund</h6>
                        <u>CRS Tax: <strong>15%</strong></u>
                    </li>
                    <li class="far-apart">
                        <h6>Housing</h6>
                        <u>CRS Tax: <strong>8%</strong></u>
                    </li>
                </ul>
            </div>
            <div class="far-apart">
                Total Assistance (%) <h6>50%</h6>
            </div>
        </div>
    </div>
    
</div>
