@{
    ViewData["Title"] = "Home Page";
}
<partial name="Sidebar"/>
<div class="rook3">
    <div class="block01">
        <div id="pic-div">
            <h2 id="sanlam-name">Live With Confidence</h2>
        </div>
        
        <img src="~/images/family.jpg" class="main-img" />
    </div>
    <div class="flexed-center">
        <h3 class="slogen">
            <u>
                It’s more than a motto.
                It’s our promise to you.
            </u>
        </h3>
    </div>
   


    <div class="block01-items wrapped">
        <div class="rook-block01">
            <div class="far-apart flexed-cente-row roblox">
                <h4>Input Activity</h4>
                <img src="~/images/icons_retirement.png"/>
            </div>
           
            <div>
                <label>Dashboard</label>
                <p>Displays the outcomes of messages being processed by sanlam</p>
            </div>
        </div>
        <div class="rook-block01">
            <div class="far-apart flexed-cente-row roblox">
                <h4>Risk Analysis</h4>
                <img src="~/images/icons_retirement.png" />
            </div>
            <div>
                <label>Dashboard</label>
                <p></p>
            </div>
        </div>
        <div class="rook-block01">
            <div class="far-apart flexed-cente-row roblox">
                <h4>Prising Data</h4>
                <img src="~/images/icons_credit_profile.png" />
            </div>
            
            <div>
                <label>Dashboard</label>
                <p>Pricing data</p>
            </div>
        </div>
        <div class="rook-block01">
            <div class="far-apart flexed-cente-row roblox">
                <h4>Input Formats</h4>
                <img src="~/images/icons_online_will.png" />
            </div>
            
            <div>
                <label>Configuration</label>
                <p>Define the structure oof data passed into the Management tool from external sources</p>
            </div>
        </div>
        <div class="rook-block01">
            <div class="far-apart flexed-cente-row roblox">
                <h4>Outhput Formats</h4>
                <img src="~/images/report-an-estate-icon.png" />
            </div>
            
            <div>
                <label>Configuration</label>
                <p>Define the format of reports and outputs, based on data held by the Management tool</p>
            </div>
        </div>
        <div class="rook-block01">

            <div class="far-apart flexed-cente-row roblox">
                <h4>Transaltion Tables</h4>
                <img src="~/images/icons_online_will.png" />
            </div>
           
            <div>
                <label>Configuration</label>
                <p>Convert feild value from an external input value to an external value.</p>
            </div>
        </div>
        <div class="rook-block01">
            <div class="far-apart flexed-cente-row roblox">
                <h4>Partners</h4>
                <img src="~/images/icons_financial_check.png" />
            </div>
            <div>
                <label>Partners</label>
                <p>Combine similair partner input and make trusted relationships</p>
            </div>
        </div>
        <div class="rook-block01">
            
            <div class="far-apart flexed-cente-row roblox">
                <h4>Reporting</h4>
                <img src="~/images/icons_unit_trusts.png" />
            </div>
            <div>
                <label>Data</label>
                <p>Execute a set of predefined reports that provide information about the Management tool</p>
            </div>
        </div>
    </div>
    
    <hr/>
    <div class="flexed-center">
        <div class="color-blue text-black maxi flexed-center text-white position-absolute">
            <ul class="hide-deco wrapped mini-padding">
                <li class="border-end side-small-padding font-monospace">BUY ONLINE</li>
                <li class="border-end side-small-padding font-monospace">FIND AN ADVISER</li>
                <li class="side-small-padding font-monospace">CLAIMS/ TALK TO US</li>
            </ul>
        </div>
    </div>
    <div class="flexed-center">
        <img src="~/images/game-of-life-desktop.png" class="media-banner" />
    </div>
    <br/>
    <div class="wrapped flexed-cente-row">
        <div class="flexed-center">
             <h4>Analytics </h4>

            <p class="mini-para">
                The Sanlam Management Tool helps bring all stakeholders to one platform providing ease of use to maximise profit and provide effeciancy with regards to the stakeholders at hand!
            </p>
            <br/>
            <p class="mini-para">
                The Sanlam Management Tool helps bring all stakeholders to one platform providing ease of use to maximise profit and provide effeciancy with regards to the stakeholders at hand!
            </p>
        </div>
        <div class="flexed-center">
            <img src="~/images/post_budget_media_banner_520x310.jpg" class="article-image side-small-margin" />
        </div>
        
    </div>

    <div class="wrapped flexed-cente-row">
        <div class="flexed-center small-padding">
            <img src="~/images/stay-safe-online.png" class="article-image side-small-margin" />
        </div>
        
        <div class="flexed-center">
            <h4>Analytics </h4>

            <p class="mini-para">
                The Sanlam Management Tool helps bring all stakeholders to one platform providing ease of use to maximise profit and provide effeciancy with regards to the stakeholders at hand!
            </p>
            <br/>
            <p class="mini-para">
                The Sanlam Management Tool helps bring all stakeholders to one platform providing ease of use to maximise profit and provide effeciancy with regards to the stakeholders at hand!
            </p>
        </div>
    </div>

    <!-- scripts -->
    <!--<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.js'></script> -->
    <section>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="item">
                        <div class="div">
                            <div class="swiper-slide swiper-slide--one">
                                <span>Education</span>
                                <div>
                                    <h2>Sanlam gives you added relief to dream</h2>
                                    <p>
                                        <!--
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <!--<path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" -->
                                        <!--<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" /
                                        </svg> -->
                                        Here for you!
                                    </p>
                                    <img src="./images/starting_your_career.jpg"/>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item">
                        <div class="div">
                            <div class="swiper-slide swiper-slide--two">
                                <span>Marraige</span>
                                <div>
                                    <h2>Marriage Start of your Bond</h2>
                                    <p>
                            
                                        All the way with Sanlam
                                    </p>
                                    <img src="./images/getting_married.jpg"/>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item">
                        <div class="div">
                            <div class="swiper-slide swiper-slide--three">
                                <span>Career</span>
                                <div>
                                    <h2>A Job is your most pride possession</h2>
                                    <p>
                                        we can get your there
                                    </p>
                                    <img src="./images/finplanimage.png"/>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item">
                        <div class="div">
                            <div class="swiper-slide swiper-slide--four">
                                <span>Family</span>
                                <div>
                                    <h2>Sanlam Management helps you focus on what's important!'</h2>
                                    <p>

                                        What's your happy place
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item">
                        <div class="div">
                            <div class="swiper-slide swiper-slide--five">
                            <span>native</span>
                            <div>
                                <h2>The most popular yachting destination</h2>
                                <p>

                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                                    </svg>
                                    Whitsunday Islands, Australia
                                </p>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>


            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            loop: true,
            paginationClickable: true,
            slidesPerView: 2,
            coverflow: {
                rotate: 0,
                stretch: 300,
                depth: 100,
                modifier: 1,
                slideShadows: false
            }
        });
    </script>
  
</div>

