@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<partial name="Sidebar" />
<div class="rook3">
    <h3>Insurance Made For You.</h3>
    <hr />
    <div class="wrapped">
        <div class="block mid">

            <div class="color-blue">
                <h6>Customer Profile</h6>
            </div>
            <div class="mini-padding">
                <div class="drop-block">
                    <img src="~/images/doctor.png" alt="user image" class="user-icon" />
                    <label class="mini-para">Jayson Siko</label>
                    <label class="mini-para">Date Of Birth: 1997/10/12</label>
                </div>

                <div class="drop-block">
                    <label class="key-items">Total premium Value</label>
                    <label class="mini-para">R 234, 234.00</label>
                </div>

                <div>
                    <label class="key-items">Address</label>
                    <p class="mini-para">

                        165 Robern Cave
                        Bat Cave
                        Hidden Cave
                        Metrocit city
                        7771
                    </p>
                </div>

                <div class="drop-block">
                    <label class="key-items">Account Manager</label>
                    <label class="mini-para">Jonathan Davids</label>
                    <p class="mini-para">Email: testEmail@gmail.com</p>
                </div>

                <div>
                    <button class="btn-secondary">Edit Profile</button>
                </div>

            </div>

           
        </div>
        <div class="block mid ">
            <div class="color-blue">
                <h6>Call Notes</h6>
            </div>
            <div class="mini-padding">
                <h6>Select Main Reason For Customer Call</h6>
            </div>
            <div>
                <ul class="hide-deco wrapped tiny">
                    <li>
                        <div>
                            <input type="checkbox" />
                            <label>Quote</label>
                        </div>
                        
                    </li>
                    <li>
                        <div>
                            <input type="checkbox" />
                            <label>Policy Purchase</label>
                        </div>
                        
                    </li>
                    <li>
                        <div>
                            <input type="checkbox" />
                            <label>Complaint</label>
                        </div>
                        
                    </li>
                    <li>
                        <div>
                            <input type="checkbox" />
                            <label>Cancelation</label>
                        </div>
                    </li>
                    <li>
                        <div>
                            <input type="checkbox" />
                            <label>Provide Information</label>
                        </div>
                    </li>
                    <li>
                        <div>
                            <input type="checkbox" />
                            <label>Charge</label>
                        </div>
                    </li>
                    <li>
                        <div>
                            <input type="checkbox" />
                            <label>Claim</label>
                        </div>
                    </li>
                    <li>
                        <div>
                            <input type="checkbox" />
                            <label>Renewal</label>
                        </div>
                    </li>
                    <li>
                        <div>
                            <input type="checkbox" />
                            <label>Quote</label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="flex-column text-center">
                <label>Provide the rating for the customer</label>
            </div>
            <div class="text-center">
                <input type="text" value="other notes..." />
            </div>
            <div class="mini-padding">
                <button class="btn-light text-center">Save Notes</button>
            </div>
        </div>
        <div class="block small-block">
            <div class="color-blue">
                <h6>Contact and Communications</h6>
            </div>
            <div>
                <ul class="mini-padding">
                    <li class="color-grey hide-deco small-margin">Channel</li>
                    <li class="color-grey hide-deco small-margin">Communication</li>
                    <li class="color-grey hide-deco small-margin">Journey</li>
                    <li class="color-grey hide-deco small-margin">Product</li>
                </ul>
            </div>
            <hr/>
            <div class="small-block mini-padding">
                <div class="color-grey smaller-block mini-para">
                    <label>Next best event: <i class="key-items">Sanlam Belville Office.</i></label>
                    <p>Info: Sanlam Belville Office Cape Town Western Cape.</p>
                    <p>Date: 13/03/2024</p>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="block maxi">
        <div class="color-blue">
            <h6>Current Pollicies</h6>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Policy</th>
                    <th>Detail</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Premium</th>
                    <th>State</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>KEY</td>
                    <td>009LJK</td>
                    <td>10/02/20</td>
                    <td>09/02/21</td>
                    <td>E423426</td>
                    <td><label class="color-green">live</label></td>
                    <td>actions</td>
                </tr>
                <tr>
                    <td>KEY</td>
                    <td>009LJK</td>
                    <td>10/02/20</td>
                    <td>09/02/21</td>
                    <td>E423426</td>
                    <td><label class="color-green">live</label></td>
                    <td>actions</td>
                </tr>
                 <tr>
                    <td>KEY</td>
                    <td>009LJK</td>
                    <td>10/02/20</td>
                    <td>09/02/21</td>
                    <td>E423426</td>
                    <td><label class="color-orange">pending</label></td>
                    <td>actions</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>