@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<partial name="Sidebar" />
<div class="rook3">
    <h3>Let Sanlam Help In Manageing Your Retirement. </h3>
    <p>Enter detailed information regarding incomes and expenses in the fields below.</p>
    <hr />
    <div class="wrapped auto-height">
        <div class="settings-page bg-white auto-height">
            <div class="block small-block auto-height">
                <div>
                    <h6 class="color-grey small-padding">Sanlam Retirement Result</h6>
                </div>
                <div class="text-center flexed-center">
                    <div class="design-container"></div>
                    <label class="text-design">80%</label>
                    <p>with sanlam we can give you a good retirement plan</p>
                </div>
                <div class="text-center">
                    <button class="btn-primary">Expense</button>
                </div>
                <div>
                    <ul class="text-white small-padding">
                        <li class="bg-primary hide-deco small-margin text-center">Pay Result</li>
                        <li class="bg-primary hide-deco small-margin text-center">What are you afraid of?</li>
                        <li class="bg-primary hide-deco small-margin text-center">Changes in output</li>
                    </ul>
                </div>
            </div>
            <div class="block small-block mid-height">
                <div>
                    <h6 class="color-grey small-padding">Current portfolio</h6>
                </div>
                <div class="text-center flexed-center ">
                    <div class="design-circle flexed-center">
                        <div class="design-circle02 text-sm-center flexed-center">Sanlam</div>
                    </div>
                </div>
                <div class="flexed-center mini-padding">
                    <label class="text-design text-primary">Sanlam Retirement portfolio</label>
                </div>

            </div>
        </div>
        <div class="auto-height wrapped halfme">
            <div class="block border border-primary auto-height mid">
                <div class="color-grey">
                    <h6 class="small-padding ">John & Sarah's Console</h6>
                </div>
                <div>
                    <label class="text-design text-primary">Needs</label>
                    <div class="far-apart mini-para">
                        <p>Retirement-Basic Living Expense</p>
                        <p>Health Care</p>
                    </div>

                </div>
                <div>
                    <label class="text-design text-primary">Wants</label>
                    <div class="far-apart mini-para">
                        <p>Collage - Micheal</p>
                        <p>Sports Car</p>
                    </div>

                </div>
                <div>
                    <label class="text-design text-primary">Wishes</label>
                    <div class="far-apart mini-para">
                        <p>Travel - To Atlanta United States</p>
                        <p>Leave Inheritence</p>
                    </div>

                </div>
            </div>
            
            <div class="block small-block border border-white flexed-center">
                <img src="~/images/retiremnt.jpg" id="invest-pic"/>
                <label>Invest in your future!</label>
            </div>
            
            <div class="block maxi">
                <div class="color-grey">
                    <h6 class="small-padding">Net Worth: R1,023,143.00</h6>
                </div>
                <div class="wrapped ">
                    <ul class="small-block side-small-margin">
                        <li class="far-apart small-block">R 200 000<div class="stretch_underline"></div></li>
                        <li class="far-apart small-block">R 100 000<div class="stretch_underline"></div></li>
                        <li class="far-apart small-block">R 250 000<div class="stretch_underline"></div></li>
                        <li class="far-apart small-block">R 300 000<div class="stretch_underline"></div></li>
                        <li class="far-apart small-block">R 150 000<div class="stretch_underline"></div></li>
                    </ul>
                    <div class="mid side-small-margin flexed-center">
                        <table class=" mid  table-bordered">

                            <tbody class="font-monospace">
                                <tr>

                                    <td class="align-in-line"> <div class="dot-block-info color-blue small-margin"></div>  networth</td>
                                    <td class="">50 000</td>
                                </tr>
                                <tr>
                                    <td class="align-in-line"> <div class="dot-block-info color-yellow small-margin"></div>  networth</td>
                                    <td>50 000</td>
                                </tr>
                                <tr>
                                    <td class="align-in-line"> <div class="dot-block-info color-green small-margin"></div>  networth</td>
                                    <td>50 000</td>
                                </tr>
                                <tr>
                                    <td class="align-in-line"> <div class="dot-block-info color-orange small-margin"></div>  networth</td>
                                    <td>50 000</td>
                                </tr>
                                <tr>
                                    <td class="align-in-line"> <div class="dot-block-info color-green small-margin"></div>  networth</td>
                                    <td>50 000</td>
                                </tr>
                                <tr>
                                    <td class="align-in-line"> <div class="dot-block-info color-yellow small-margin"></div>  networth</td>
                                    <td>50 000</td>
                                </tr>
                            </tbody>

                        </table>
                        <div class="small-margin">
                            <button class="btn-primary btn-sm">Details</button>
                            <button class="btn-primary btn-sm">Add Linked Account</button>
                        </div>
                    </div>
                    
                    <br/>
                </div>
            </div>
        </div>
        
    </div>
    
    
</div>