@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<partial name="Sidebar" />
<div class="rook3">
    <div class="wrapped">
        <div class="settings-page">
            <div>
                <h5 class="text-design color-grey">Settings</h5>
            </div>
            <div class="calender-days">
                <ul class="hide-deco settings-list">
                    <li>Profile</li>
                    <li>My Account</li>
                    <li>Fix</li>
                    <li>Passwords</li>
                    <li>Noitifications</li>
                </ul>

            </div>
            <div>
            </div>
        </div>
        <div class="small-margin setting-display">
           
            <div>
                <h5>Account Policy</h5>
                <div>
                    <label class="text-design">product owner</label>
                    <p class="mini-para">this is a policy protocol and makes it so easy to make a profile account now I really don't know what to write here as I am constaintly typing'</p>
                </div>
            </div>
            <div>
                <h5>Instructions</h5>
                <div>
                    <label class="text-design">product owner</label>
                    <p class="mini-para">this is a policy protocol and makes it so easy to make a profile account now I really don't know what to write here as I am constaintly typing'</p>
                </div>
                <div>
                    <label class="text-design">product owner</label>
                    <p class="mini-para">this is a policy protocol and makes it so easy to make a profile account now I really don't know what to write here as I am constaintly typing'</p>
                </div>
                <div>
                    <label class="text-design">product owner</label>
                    <p class="mini-para">this is a policy protocol and makes it so easy to make a profile account now I really don't know what to write here as I am constaintly typing'</p>
                </div>
            </div>
        </div>
    </div>
    
</div>